<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coahuila</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">


</head>
<body>
    <header>
        <h1 style="text-align:center;">Coahuila</h1 >
       
        <nav >
            <ul id="Lugar">
                <li><a style="font-size:100%;" href="{% url 'index' %}">Regresar</a></li>
            </ul>
        </nav>
    </header> 
    <main>
        <p lang="es" style="font-size:150%; text-align:justify;">Coahuila es conocido por su vasta extensión de desierto, montañas y llanuras, así como por su rica historia minera. El estado es un importante productor de carbón y otros minerales, lo que ha impulsado su desarrollo económico a lo largo de los años. Además, Coahuila cuenta con una fuerte industria vinícola, siendo uno de los principales productores de vino en México.</p>

        <a href="https://www.google.com.mx/maps/place/Coahuila+de+Zaragoza/@27.1915146,-104.5422249,7z/data=!3m1!4b1!4m6!3m5!1s0x868872bda68e1e29:0x64009ad714cd7a39!8m2!3d27.058676!4d-101.7068294!16zL20vMDE1NzAx?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D" id="link_ubicacion " style="font-size:17pt;background-color: rgb(203, 187, 158); border-radius: 100px; padding: 9px;" >Ir a la ubicación</a>

            <figure style ="text-align:center;font-size:100%,">
            <img  width="300px" src="https://cuentame.inegi.org.mx/monografias/imagenes/div/coah.gif" alt="Mapa del Estado de Coahuila" > <figcaption>Mapa de Coahuila</figcaption>
            </figure>
        
            
            <article></article>
                <header>
                <h2>Sectores de Coahuila</h2>
                </header>
                <h3 style="font-size: 150%": >Industria Automotriz </h3>
                <section>
                <blockquote cite="https://www.economia.gob.mx/datamexico/es/profile/geo/nuevo-leon-nl?redirect=true">
                <p lang="es" style="font-size:150%; text-align:justify;"> Coahuila es un importante centro de la industria automotriz en México. Es sede de numerosas plantas de ensamblaje de vehículos, así como de fábricas de autopartes. Empresas globales como General Motors, Fiat Chrysler Automobiles (FCA), y Freightliner tienen operaciones en el estado.Este sector es crucial para la economía de Coahuila, generando miles de empleos y atrayendo inversión extranjera directa.
                 </p>
                </blockquote>
                <div style="display: flex; justify-content: center">
                    <figure style="text-align: center";>
                        <img width="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1hwDAfge7ldlLKT9AoiQIVpvniZOy7dqDnA&s" alt="Trabajadores en Coahuila ">
                        <figcaption>Figura 3. Trabajadores en planta Automotriz</figcaption>
                        </figure>
                    <figure style="text-align: center";>
                            <img width="250px" src="https://www.somosindustria.com/media/img/notas/500px_industria_automotriz-05-19.jpg" alt="Ensamble de carro ">
                            <figcaption>Figura 4. Ensamble de un Auto</figcaption>
                        </figure>
                </div>
                    <hr>
                </section>
                <h3 style="font-size: 150%">Mineria </h3>
                <section>
                    <blockquote cite="https://www.nl.gob.mx/turismo"><p lang="es" style="font-size:150%; text-align:justify;">La minería en Coahuila es uno de los pilares más antiguos y significativos de su economía. Este estado del noreste de México cuenta con una rica tradición minera que se remonta a varios siglos atrás, y su relevancia en este sector ha perdurado a lo largo del tiempo debido a la abundancia de recursos naturales y a la evolución de las técnicas de extracción..</p></blockquote>

                    <pre>
⣿⣿⣿⣿⣿⣟⠛⠛⠻⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣷⣦⣀⠀⠀⠈⠙⢿⣿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣤⡀⠀⠸⣧⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣦⡀⠈⠛⠛⢿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠀⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⠀⣹⣿⣦⡀⠀⠀⢻⣿⣷⠀⢠⣿⣿⡇⠀⠀⠀⣿
⣿⣿⣿⣿⣿⣿⣿⠟⠋⠀⣠⣾⣿⣿⣿⣷⣄⠀⠈⣿⣿⠀⣾⣿⣿⣿⠀⠀⠀⣿
⣿⣿⣿⣿⣿⠟⠁⠀⣠⣾⣿⣿⡟⠙⠻⣿⣿⣧⡀⢸⣿⣾⣿⣿⣿⣿⡆⠀⠀⣿
⣿⣿⣿⡟⠁⠀⣠⣾⣿⣿⣿⣿⣶⣦⣤⣤⣭⣿⣷⣼⣿⣿⣿⠋⠉⠁⠀⠀⠀⣿
⣿⡿⠋⠀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠋⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⣿
⣿⣿⣦⣾⣿⣿⣿⣿⣿⣿⣿⡿⠟⠋⠁⠀⠀⢸⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠼⣿⣿⣿⣿⣿⣿⣶⣄⠀⠀⠀⣿
⣿⣿⣿⣿⠛⠛⠻⠿⢿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠉⠛⢻⣿⣿⣿⠟⠀⠀⠀⣿
⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⡏⠀⠀⠀⠀⣿
⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠙⠛⠂⠀⠀⠀⣿
⣿⣿⣿⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣿
                    </pre>
                </section>
                <hr>
                <h3 style="font-size: 150%">Agroindustria</h3>
                <section>
                    <blockquote cite="https://www.nl.gob.mx/cultura"><p lang="es" style="font-size:150%; text-align:justify;">
                    La agroindustria en Coahuila es un sector clave que impulsa el desarrollo económico y social del estado, destacándose especialmente en la producción de leche, carne y vino. La Comarca Lagunera, que abarca parte de Coahuila, es una de las principales regiones lecheras de México, abasteciendo a gran parte del país con productos lácteos de alta calidad. Además, la ganadería es una actividad económica significativa, con la producción de carne de res y cabrito, este último siendo un platillo emblemático de la región
                    .</p>

                   <p lang="es" style="font-size:150%; text-align:justify;"> 
                    La vitivinicultura también tiene una presencia importante en Coahuila, con la región de Parras de la Fuente destacándose por sus viñedos y bodegas de renombre, que producen vinos de alta calidad reconocidos a nivel nacional e internacional. Esta combinación de actividades agrícolas e industriales no solo contribuye a la diversificación de la economía estatal, sino que también promueve el desarrollo rural, generando empleo y fortaleciendo el tejido social en las comunidades locales.
                   </p>

                   <p lang="es" style="font-size:150%; text-align:justify;"> El estado de Coahuila, situado en el norte de México, es una región rica en historia, cultura y tradiciones. Su himno, al igual que los himnos de otras entidades federativas mexicanas, es un canto que enaltece el orgullo y la identidad de los coahuilenses. Este himno refleja el valor, la fortaleza y el patriotismo de los habitantes de Coahuila, destacando los episodios históricos y las luchas que han definido el carácter de su pueblo. El himno también rinde homenaje a los héroes y a la belleza natural de esta tierra, que es una de las más extensas del país. 
                </p>

                
                <div style="display: flex; justify-content: center">
                    <embed src="C:\Users\brand\Escritorio\Actividad-2-\himno c.pdf" type="application/pdf" width="700" height="500">
                
                    <audio controls style="margin-left: 25px;" src="C:\Users\brand\Escritorio\Actividad-2-\Himno C.mp3"></audio>
                </div>

                </section>
            </article >
            <br><br><br><br><br><br>
            <footer>
                <h2>Creditos</h2>
                    <a href="mailto:brandon_mendez123@hotmail.com">Envia un correo</a>
                    <a href="tel:+8121212259">Llamanos</a>
                    <address>
                        <p>Desarrollado por: Brandon Ariel Mendez Lopez</p>
                        <p>Derechos reservados &copy;</p>
                    </address>
            </footer>
    </main>     

</body>


</html>