<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zacatecas</title>
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">


</head>
<body>
    <header>
        <h1 style="text-align:center;">Zacatecas</h1 >
       
        <nav >
            <ul id="Lugar">
                <li><a style="font-size:100%;" href="{% url 'index' %}">Regresar</a></li>

            </ul>
        </nav>
    </header> 
    <main>
        <p lang="es" style="font-size:150%; text-align:justify;">Zacatecas, situado en el centro-norte de México, es un estado con una rica herencia histórica y cultural, conocido por su legado minero y su impresionante arquitectura colonial. Fundado en 1546, Zacatecas prosperó como un importante centro de extracción de plata durante la época colonial, lo que se refleja en su bien conservado centro histórico, declarado Patrimonio de la Humanidad por la UNESCO. Con su terreno montañoso y clima seco, el estado combina paisajes desérticos con vibrantes festividades culturales, como la Feria Nacional de Zacatecas y el Festival Cultural Zacatecas. La capital, Zacatecas, destaca por su impresionante Catedral, el Acueducto y el Teleférico, ofreciendo a los visitantes una inmersión en la historia minera y la rica tradición cultural del estado</p>

        <a href="https://www.google.com.mx/maps/place/Zacatecas/@23.0615031,-105.1946924,7z/data=!3m1!4b1!4m6!3m5!1s0x8681d1a07ec9fe6f:0x1c1f2dfd5e256d98!8m2!3d22.7708555!4d-102.5832426!16zL20vMDEydGd3?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D" id="link_ubicacion " style="font-size:17pt;background-color: rgb(203, 187, 158); border-radius: 100px; padding: 9px;" >Ir a la ubicación</a>

            <figure style ="text-align:center;font-size:100%,">
            <img  width="300px" src="https://cuentame.inegi.org.mx/monografias/imagenes/div/zacatecas.gif" alt="Mapa del Estado de Zacatecas" > <figcaption>Mapa de Zacatecas</figcaption>
            </figure>
        
            
            <article></article>
                <header>
                <h2>Sectores de Zacatecas</h2>
                </header>
                <h3 style="font-size: 150%": >Turismo </h3>
                <section>
                <blockquote cite="https://www.zacatecastravel.com/">
                <p lang="es" style="font-size:150%; text-align:justify;"> Zacatecas destaca como un destino turístico por su rica herencia colonial, visible en su centro histórico con la majestuosa Catedral de Zacatecas y el Acueducto de Zacatecas. Ofrece atracciones como el Museo Rafael Coronel y el Museo de Arte Abstracto Manuel Felguérez, así como la oportunidad de explorar la Mina El Edén, una antigua mina transformada en museo. El Teleférico de Zacatecas brinda vistas panorámicas de la ciudad, mientras que eventos como la Feria Nacional de Zacatecas y el Festival Cultural Zacatecas celebran su vibrante cultura
                 </p>
                </blockquote>
                <div style="display: flex; justify-content: center">
                    <figure style="text-align: center";>
                        <img width="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK0a0UoNbaD-RDdK5QoOLTXpmDr3S4WoW_Pg&s" alt="Teleferico en Zacatecas ">
                        <figcaption>Figura 8. Teleferico en Zacatecas</figcaption>
                        </figure>
                    <figure style="text-align: center";>
                            <img width="350px" src="https://content.r9cdn.net/rimg/dimg/3a/ca/5f9cb294-city-25552-167f5cc22d5.jpg?width=1366&height=768&xhint=2001&yhint=1257&crop=true" alt="Ciudad de Zacatecas ">
                            <figcaption>Figura 9. Ciudad de Zacatecas</figcaption>
                        </figure>
                </div>
                    <hr>
                </section>
                <h3 style="font-size: 150%">Agricultura</h3>
                <section>
                    <blockquote cite="https://www.tsjzac.gob.mx/"><p lang="es" style="font-size:150%; text-align:justify;">La agricultura en Zacatecas, a pesar de su clima semiárido, juega un papel importante en la economía estatal, destacándose en la producción de cereales como el maíz y el trigo, así como en el cultivo de frijoles y agave. La región también es conocida por su producción de hortalizas y forrajes para la ganadería.</p></blockquote>
                    <blockquote cite="https://www.tsjzac.gob.mx/"><p lang="es" style="font-size:150%; text-align:justify;">La agricultura en Zacatecas se enfrenta a desafíos relacionados con la disponibilidad de agua, lo que ha impulsado el desarrollo de técnicas de riego más eficientes y la adopción de prácticas agrícolas sostenibles para maximizar el uso de los recursos disponibles</p></blockquote>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/r_RFH5rq2UA?si=0inAJ3sGzWSi0KI3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </figure>
                </section>
                <hr>
                <h3 style="font-size: 150%">Cultura</h3>
                <section>
                    <blockquote cite="https://visitasanluispotosi.com/"><p lang="es" style="font-size:150%; text-align:justify;">
                        La cultura de Zacatecas es una rica mezcla de influencias indígenas, coloniales y modernas, reflejada en su patrimonio histórico, festividades y expresiones artísticas. La ciudad de Zacatecas, con su centro histórico Patrimonio de la Humanidad, es un claro ejemplo de la arquitectura colonial mexicana, con magníficas iglesias, conventos y edificios históricos que datan de la época colonial
                    .</p>

                   <p lang="es" style="font-size:150%; text-align:justify;"> 
                    La tradición minera del estado también ha dejado una huella significativa en su cultura, con museos y eventos que celebran este legado. Zacatecas es conocida por sus festividades vibrantes, como la Feria Nacional de Zacatecas, que combina música, danza y gastronomía local en una celebración anual que atrae a miles de visitantes.
                   </p>

                   <p lang="es" style="font-size:150%; text-align:justify;">Además, el estado celebra diversas festividades tradicionales y religiosas a lo largo del año, que reflejan tanto el arraigo de sus costumbres como la evolución de su cultura. La mezcla de elementos históricos y contemporáneos hace de Zacatecas un lugar con una cultura vibrante y multifacética.  
                </p>

                
                <div style="display: flex; justify-content: center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HY5XvSUtl1E?si=8cf8TsCRbVxNw9gR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
                </div>

                </section>
            </article >
            <br><br><br><br><br><br>
            <footer>
                <h2>Creditos</h2>
                    <a href="mailto:brandon_mendez123@hotmail.com">Envia un correo</a>
                    <a href="tel:+8121212259">Llamanos</a>
                    <address>
                        <p>Desarrollado por: Brandon Ariel Mendez Lopez</p>
                        <p>Derechos reservados &copy;</p>
                    </address>
            </footer>
    </main>     

</body>


</html>